<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Game Page</h1>

    <h2 id="gameState">
        {{#if waitingForMorePlayers}}
            Waiting for more players...
        {{else}}
            The game has started :D
        {{/if}}
    </h2>

    <ul id="players">
        {{#each players}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
<script>
    const socket = new WebSocket("{{wsHost}}/{{playerId}}");

    // Connection opened
    socket.addEventListener("open", (event) => {
        console.log("connected to ws")
        socket.send("Hello Server!");
    });

    // Listen for messages
    socket.addEventListener("message", (event) => {
        console.log("Message from server ", event.data);
        try {
            const { gameEvent, gameState } = JSON.parse(event.data)
            switch (gameEvent.type) {
                case "PlayerJoined": {
                    const players = document.getElementById("players")
                    const li = document.createElement("li")
                    li.innerText = gameEvent.playerId
                    players.appendChild(li)

                    if (!gameState.waitingForMorePlayers) {
                        const gameStateEl = document.getElementById("gameState")
                        gameStateEl.innerText = "The game has started :D"
                    }

                    break;
                }
            }
        } catch (e) {
            console.error("Error parsing JSON", e)
        }
    });
</script>
</body>
</html>
