<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Welcome to the http4k Web Content example</h1>

    <p>The time is: <b>{{time}}</b></p>
    <p>Your browser is: <b>{{browser}}</b></p>

    <form action="/" method="post">
        <label>
            PlayerID:
            <input name="playerId"/>
        </label>
    </form>
</div>
</body>
</html>
