<html>
<head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <h1>Skull King</h1>
    <form id="joinGame" action="/play" method="post">
        <label>
            PlayerID:
            <input name="playerId"/>
        </label>
        <input type="submit" value="Join Game"/>
        {{#if errorMessage}}
            <p>Error: <span id="errorMessage">{{errorMessage}}</span></p>
        {{/if}}
    </form>
    <form id="startGame" action="/startGame" method="post">
        <input type="submit" value="ADMIN ONLY: Start Game"/>
    </form>
</div>
</body>
</html>
