<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Playing Skull King</title>
    <link rel="icon" type="image/svg+xml" href="/frontend-svelte/vite.svg" />
    <link rel="stylesheet" href="/frontend-svelte/index.css"/>
</head>
<body>
<div id="root"></div>
<script>
    let wsProtocol = "ws";
    if (location.protocol === "https:") wsProtocol += "s"

    window.INITIAL_STATE = {
        endpoint: `${wsProtocol}://{{host}}:${location.port}/play`,
        ackTimeoutMs: {{ackTimeoutMs}}
    };
</script>
{{#if devServer}}
    <script defer type="module" src="http://localhost:5174/frontend-svelte/@vite/client"></script>
    <script defer type="module" src="http://localhost:5174/frontend-svelte/src/main.ts"></script>
{{else}}
    <script defer type="module" src="/frontend-svelte/index.js"></script>
{{/if}}
</body>
</html>
