<html>
<head>
    <link href="/frontend/style.css" rel="stylesheet" type="text/css"/>
    <title>Playing Skull King</title>
</head>
<body>
<form id="joinGame">
    <label>
        Player ID:
        <input name="playerId" placeholder="Enter a name"/>
    </label>
    <input type="submit" value="Submit"/>
</form>

<div id="root" class="content">
    <h1>Game Page</h1>
    <sk-gamestate></sk-gamestate>
    <h2 id="roundNumber"></h2>
    <sk-gamephase></sk-gamephase>
    <h2 id="trickNumber"></h2>
    <h3 id="currentPlayer"></h3>
    <h3 id="trickWinner"></h3>
    <strong id="errorMessage" class="u-hidden"></strong>

    <sk-players></sk-players>
    <sk-hand></sk-hand>
    <sk-biddingform></sk-biddingform>
    <sk-bids></sk-bids>
    <sk-trick></sk-trick>
    <sk-wins></sk-wins>
</div>
<div id="spinner" class="lds-ring u-hidden"><div></div><div></div><div></div><div></div></div>
<script src="/frontend/game.js" defer></script>
<script>
    let wsProtocol = "ws";
    if (location.protocol === "https:") wsProtocol += "s"

    window.INITIAL_STATE = {
        endpoint: `${wsProtocol}://{{host}}:${location.port}/play`,
        ackTimeoutMs: {{ackTimeoutMs}}
    };
</script>
</body>
</html>
