<configuration>
<!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny ERROR level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <!-- deny WARN level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="LogFilter" />
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}%ms %-5level %-22logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below WARN, that is INFO, DEBUG and TRACE -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}%ms %-5level %-22logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout" />
        <appender-ref ref="stderr" />
    </root>
</configuration>